/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  /* padding and border are included in the width and height */
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  /* View port of the header, controll how much to show on the screen */
  height: 95vh;
  /* Adding 2 images, linear-gradient on top of the actual image for additional effect */
  background-image: linear-gradient(to right bottom, #7ed56fbe, #28b485be),
    url(../img/hero.jpg);
  /* cover = to fit inside the elements view port */
  background-size: cover;
  background-position: top;
  /* position on child elements will be based on here */
  position: relative;
  /* Crop header */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* (x y) */
}

.logo-box {
  /* absolute position to parent element */
  position: absolute;
  top: -30px;
  left: -30px;
}

.logo {
  height: 180px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Change position based on current position */
  transform: translate(-45%, -80%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* Fix animation glitch (hides backgroung) */
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block; /* makes it take all line */
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* Adding animation created with @keyframes */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* Can be shortened all in one */
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
