// Colors
$color-primary: #ffcb6a;
$color-primary-light: #ffb62e;
$color-primary-dark: #724705;

$color-grey-light-1: #c4c2c2;

$color-grey-soft: #202020;
$color-grey-dark: #777;
$color-white: #ffffff;
$color-black: #000;

// Font
$default-font-size-small: 1.6rem;
$default-font-size-medium: 1.8rem;
// Grid
$grid-width: 114rem;
// Spacing
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
