.header {
  /* View port of the header, controll how much to show on the screen */
  height: 95vh;
  /* Adding 2 images, linear-gradient on top of the actual image for additional effect */

  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba($color-primary-light, 0.7),
  //     rgba($color-primary-dark, 0.7)
  //   ),
  //   url(../img/header.jpg);
  
  /* cover = to fit inside the elements view port */
  background-size: cover;
  background-position: top;
  /* position on child elements will be based on here */
  position: relative;
  /* Crop header */
  // -webkit- for all webs to work
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* (x y) */

  @include responsive(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  /* Nested Header Elements */
  &__logo-box {
    /* absolute position to parent element */
    position: absolute;
    top: -1rem;
    left: -1rem;
  }

  &__logo {
    height: 15rem;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Change position based on current position */
    transform: translate(-50%, -80%);
    text-align: center;
  }
}
