.navigation {

    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-white;
        height: 5.5rem;
        width: 5.5rem;
        position: fixed;
        top: 4.5rem;
        // also defines transition starting position
        right: 4.5rem;
        border-radius: 25%;
        z-index: 200;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 4rem;
        width: 4rem;
        border-radius: 25%;
        position: fixed;
        top: 5rem;
        right: 5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark 70%);
        z-index: 100;
        transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        // also defines transition starting position
        right: 0;
        z-index: 150;
        opacity: 0;
        // setting with to 0 will make other elements in the back interactable
        width: 0;
        transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        // adding width so it can transition properly
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 500;
        color: $color-white;
        padding: 1rem 1rem;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(105deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 220%; 
        transition: all .4s;
        } 

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary-dark;
            transform: translateX(-1rem);
            border-radius: 5px;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(100);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__icon {
        position: relative;
        margin-top: 2.6rem;

        // turning 1 lane into 3 using ::before/after
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-primary;
            display: inline-block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all .4s;
        }

        // top lane
        &::before {top: -1rem;}
        // botton lante
        &::after {top: 1rem;}
    }

    &__button:hover &__icon::before {
        top: -1.4rem;
    }
    &__button:hover &__icon::after {
        top: 1.4rem;
    }

    // + => to select brother element
    // Mid lane
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }
    // top lane
    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(45deg);
        top: 0;
    }
    // bot lane
    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-45deg);
        top: 0;
    }
}