.card {
  // Gives 3D to rotate animation perspective "has to be added on the parent ele"
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    color: #fff;
    font-size: 2rem;
    height: 50rem;
    transition: all 0.8s ease;
    // Positioning to the same place "Parent loses height value (we need to re-specify)"
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    // Hide oversized elements (images border radius)
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateX(-180deg);

      &-1 {
        background-image: linear-gradient(
          to bottom,
          $color-primary,
          $color-primary-light
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateX(180deg);
  }

  &:hover &__side--back {
    transform: rotateX(0);
  }

  // Card-Front
  &__picture {
    background-size: cover;
    height: 28rem;
    // Background Modes
    background-blend-mode: lighten;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary,
          $color-primary-dark
        ),
        url(../img/ramen.png);
    }

    &--2 {
      background-image: url(../img/onigiri.png);
    }
  }
}
