/* Make sure to include pseudo elements also inherits */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* all elements will inherit from body */
  box-sizing: inherit;
}

html {
  /* Defining "1rem" so it escalates with all platforms default root px */
  /* We want 10px, so, 16/62.5 = 10 */
  font-size: 62.5%;

  @include responsive-phone {
    font-size: 50%;
  }
}

body {
  background-color: rgb(34, 34, 34);
}
